* {
		color: #002b36;
}

.map-component {
    display: flex;
}
#menu {
    width: 20%;
    // padding: 10px;
    background-color: #fdf6e3;
		display: flex;
		flex-direction: column;
}
#three-canvas {
    width: 80%;
}

.hide-button {
    position: absolute;
    top: 50%;
    right: 10px;
}

.show-button {
    position: absolute;
    top: 50%;
    left: 10px;
}

.decorator {
		border-bottom: solid 2px #93a1a1;
		transition: 0.1s;
		&:hover {
				color: #fdf6e3;
				background-color: #586e75;
				border-bottom: solid 2px #586e75;
		}
}

.cabinets-container {
		min-height: 50px;
		
		input {
				width: 50%;
				font-family: "Courier New", Courier, monospace;
				background-color: #fdf6e3;
				margin: 2px;
				margin-left: 20px;
				padding: 3px;
				outline: none;
				border: none;
				border-bottom: solid 2px #93a1a1;
				&:focus {
						border-bottom: solid 2px #586e75;
				}
		}

		padding: 5px;
		// border-radius: 5px;
		// background-color: white;
		height: auto;
		overflow-y: scroll;
}

.cabinet-button {
		width: 80%;
		user-select: none;
		padding: 5px;
		border-radius: 5px;
		&:before {
				color: transparent;
				content: "▼";
		}
		&:hover {
				&:before {
						color: inherit;
				}
		}
}

.floor-button {
    user-select: none;
    line-height: 0.7em;
    // background-color: white;
    // border-radius: 5px;
    margin: 5px;
    width: fit-content;
    padding: 5px;
    &.active {
				color: #fdf6e3;
				background-color: #586e75;
				border-bottom: solid 2px #586e75;
    }
}

.round-button {
		font-size: 20px;
		margin-right: 20px;
		// padding-left: 10px;
		// padding-right: 10px;
		line-height: 30px;
		width: 30px;
		height: 30px;
		text-align: center;
		cursor: default;
		color: #fdf6e3;
		background-color: #586e75;
		border-radius: 15px;
}

.point-highlight {
		position: fixed;
		content: "";
		width: 13px;
		height: 13px;
		border-radius: 5px;
		background-color: blue;
}

#delete-point {
		position: absolute;
		right: 5px;
		bottom: 0px;
}

#new-point {
		position: absolute;
		right: 10px;
		top: 10px;
}
